
@tailwind base;
@tailwind components;
@tailwind utilities;

/* main.css */
:root {
  --primary-bg: #F5E8E8; 
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-bg);
  min-height: 100vh;
}

#root {

  width: 100%;
  height: 100vh;
}
@keyframes runner {
  0% {
    right: -6rem;
  }
  100% {
    left: 100%;
  }
}

.animate-runner {
  animation: runner 10s linear infinite; /* Adjusted to 2s for faster speed */
}

